@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Kategori Listesi";
    Layout = "~/Areas/Admin/Views/Admin/Index.cshtml";
    int count = 0;
}


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-info shadow-dark border-radius-lg pt-4 pb-3 d-flex justify-content-between align-items-center">
                        <h6 class="text-white text-capitalize ps-3 mb-0">Kategori Listesi</h6>
                        <a href="/Admin/Category/CreateCategory" class="btn btn-white btn-sm me-3 mb-0 d-flex align-items-center">
                            <i class="material-icons text-sm opacity-10 me-1"></i> Yeni Ekle
                        </a>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">#</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Kategori Adı</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0 ps-3">@count</p>
                                        </td>
                                        <td>
                                            <div class="d-flex px-2 py-1">
                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">@item.CategoryName</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="align-middle text-center">
                                            <a href="/Admin/Category/UpdateCategory/@item.Id" class="btn btn-link text-dark px-3 mb-0">
                                                <i class="material-symbols-rounded text-sm me-2">edit</i>Düzenle
                                            </a>
                                            <a href="/Admin/Category/DeleteCategory/@item.Id" onclick="return confirm('Silmek istediğine emin misin?')" class="btn btn-link text-danger px-3 mb-0">
                                                <i class="material-symbols-rounded text-sm me-2">delete</i>Sil
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
