@using Blogy.Business.DTOs.TagDtos
@model List<ResultTagDto>

<div class="sidebar-box">
    <h3 class="heading">Etiketler</h3>
    <ul class="tags">
        @foreach (var item in Model)
        {
            <li>
                <a href="#">@item.Name</a>
            </li>
        }
    </ul>
</div>
