@model List<ResultTagDto>
@{
    ViewData["Title"] = "Etiketler";
    Layout = "~/Areas/Admin/Views/Admin/Index.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-warning shadow-dark border-radius-lg pt-4 pb-3 d-flex justify-content-between">
                    <h6 class="text-white text-capitalize ps-3">Etiket Listesi</h6>
                    <a href="/Admin/Tag/CreateTag" class="btn btn-white btn-sm me-3">Yeni Etiket</a>
                </div>
            </div>
            <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-4">#</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Etiket Adı</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><div class="d-flex px-3"><h6 class="mb-0 text-sm">@item.Id</h6></div></td>
                                    <td><p class="text-xs font-weight-bold mb-0 px-3">@item.Name</p></td>
                                    <td class="align-middle text-center">
                                        <a href="/Admin/Tag/UpdateTag/@item.Id" class="btn btn-link text-dark px-3 mb-0">
                                            <i class="material-symbols-rounded text-sm me-2">edit</i>Düzenle
                                        </a>
                                        <a href="/Admin/Tag/DeleteTag/@item.Id" onclick="return confirm('Silmek istediğine emin misin?')" class="btn btn-link text-danger px-3 mb-0">
                                            <i class="material-symbols-rounded text-sm me-2">delete</i>Sil
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
