@model UpdateTagDto
@{
    ViewData["Title"] = "Etiket Güncelle";
    Layout = "~/Areas/Admin/Views/Admin/Index.cshtml";
}

<div class="card my-4 mx-4">
    <div class="card-header bg-gradient-warning pt-4 pb-3"><h6 class="text-white ps-3">Etiket Güncelle</h6></div>
    <div class="card-body">
        <form method="post">
            <input type="hidden" asp-for="Id" />
            <div class="input-group input-group-outline mb-3 is-filled">
                <label class="form-label">Etiket Adı</label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>
            <button class="btn bg-gradient-warning">Güncelle</button>
        </form>
    </div>
</div>
